<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    {{! Page Meta }}
    <title>
      {{meta_title}}{{#is "post"}} | {{@blog.title}}{{/is}}
    </title>

    {{! Page Meta }}
    {{{block "meta"}}}

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "index.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body>
    <div class="main">
      <header class="header">
        <ul class="header__nav">
          <li class="header__link">
            <a href="/">Resume</a>
          </li>
          <li class="header__link">
            <a href="/blog">Blog</a>
          </li>
          <li class="header__link">
            <a href="https://github.com/jmoyers">Github</a>
          </li>
          <li class="header__link">
            <a href="https://twitter.com/joshuamoyers">Twitter</a>
          </li>
        </ul>
        <div class="header__about">
          <h1>Joshua</h1>
          <p class="job__description">
            Engineering Leadership<br />
            josh@jmoyers.org
          </p>
          <ul class="header__social">
            <li>
              <a href="http://www.linkedin.com/in/jmoyers">
                <img src="image/linkedin-24x24.png" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/joshuamoyers">
                <img src="image/twitter-24x24.png" />
              </a>
            </li>
            <li>
              <a href="https://github.com/jmoyers">
                <img src="image/github-24x24.png" />
              </a>
            </li>
            <li>
              <a href="http://stackoverflow.com/users/128581/josh">
                <img src="image/stackoverflow-24x24.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="header__profile">
          <img src="image/profile.jpg" />
        </div>
      </header>
      <div class="content">
        {{{body}}}
      </div>
      <footer class="main__footer">
        &copy; {{date format="YYYY"}} 
        <a href="/">Joshua Moyers</a> 
        All rights reserved.
      </footer>
    </div>

    {{ghost_foot}}

    <script>
      function reloadStylesheets() {
        var links = document.getElementsByTagName("link"); for (var i = 0; i < links.length;i++) { var link = links[i]; if (link.rel === "stylesheet") {link.href += "?"; }}
      }

window.setInterval(reloadStylesheets, 2000);
    </script> 
  </body>
</html>
